.main {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "filters search"
    "filters results";
}

.filters {
  grid-area: filters;
  padding: var(--size-xl);
  padding-top: 0;
}

.filters details {
  margin-bottom: var(--size-2xl);
}
.filters * + details {
  margin-top: var(--size-2xl);
}
.filters hr {
  border-color: var(--black-fade-5);
}

.results {
  grid-area: results;
}

.results ul {
  flex-direction: column;
}

.search {
  position: relative;
  grid-area: search;
  height: min-content;
  display: grid;
  grid-gap: var(--size-2xl);
  grid-template-columns: auto max-content;
  align-items: center;
}

.search input {
  display: block;
  flex: 1;
  font-size: 18px;
  background-color: var(--black-fade-5);
  border-radius: var(--border-radius);
  padding: var(--size-md);
  padding-left: 3rem;
  height: 3em;
}

.search input::-webkit-search-cancel-button {
  position: relative;
  right: var(--size-md);

  -webkit-appearance: none;
  height: var(--size-xl);
  width: var(--size-xl);
  border-radius: 50em;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8334 5.3415L14.6584 4.1665L10.0001 8.82484L5.34175 4.1665L4.16675 5.3415L8.82508 9.99984L4.16675 14.6582L5.34175 15.8332L10.0001 11.1748L14.6584 15.8332L15.8334 14.6582L11.1751 9.99984L15.8334 5.3415Z' fill='%2378757A'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 50%;
  opacity: 0;
  pointer-events: none;
}

.search input:focus::-webkit-search-cancel-button {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}

.searchIcon {
  position: absolute;
  top: calc(50% - 12px);
  left: 12px;
}

.sortSelector {
  padding-left: var(--size-2xl);
  padding-right: var(--size-2xl);
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: var(--size-lg);
}

.productListItem {
  display: flex;
  justify-content: center;
  width: 100%;
}

.priceFilter {
  display: grid;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pagination > button {
  width: var(--size-2xl);
  height: var(--size-2xl);
  font-size: var(--text-sm);
  border-radius: var(--border-radius-sm);
  display: grid;
  place-items: center;
}

.pagination > button:hover {
  background-color: var(--black-fade-10);
}

.pagination > button.selectedItem {
  background-color: var(--black-fade-10);
  font-weight: 700;
}

.pagination > button:disabled {
  cursor: default;
  opacity: 0;
}

.priceFilterStyle {
  display: flex;
}

.priceFilterStyle label {
  cursor: pointer;
  margin-top: 2px;
}

.priceFilterStyle summary {
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--size-md);
  font-size: var(--text-xs);
  letter-spacing: var(--tracked);
}

.clearButton {
  color: var(--black-fade-40);
  font-size: var(--text-sm);
}

.priceFields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-sm);
}

.priceFields input {
  max-width: 96px;
}

.progressStyle {
  font-size: var(--text-md);
  color: var(--text-color-secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: var(--size-xl) 0;
}

.resultsStyle {
  font-size: var(--text-md);
  color: var(--text-color);
  padding: var(--size-xl) 0;
}

.resultsStyle span {
  font-weight: var(--bold);
}
